#header {
	background-color: #ecf0f1;
	padding: 32px 0;

	.header-wrapper {
		display: flex;
		justify-content: space-between;

		.logo {
			font-size: 24px;
			line-height: 24px;
			display: inline-block;

			a {
				text-decoration: none;
				color: #000;
			}
		}
	
		.user-actions {
			display: flex;
			flex-direction: row;
			font-size: 16px;
			line-height: 24px;

			.logout-btn {
				margin-left: 40px;
				cursor: pointer;
			}

			a {
				color: #333;
				text-decoration: none;
				margin-right: 40px;
			}
		}
	}
}